:root{
  --mainColor:#2D3250;
  --redColor: #A52E28;

}

nav{
  background-color: var(--mainColor);
}

nav a{
  color: #fff !important;
}

nav .navbar-brand .img{
  width:40px;
  height:40px;
  border-radius:50%;
}

nav .nav-item .active{
  background-color: var(--redColor);
  border-radius: 5px;
}

#about .container{
  padding: 0;
}

#about h1{
  position: relative;
  padding-bottom: 5px;
}
#about h1::before{
  content: '';
  width: 100px;
  height: 3px;
  background-color: var(--redColor);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

}

#footer{
  background-color: var(--redColor);
  color: #fff;
}

#footer p{
  font-size: 12px;
  line-height: 0;
  padding-bottom: 5px;

}


#service {
  background-image: url(../src/Assets/images/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#service .container {
  background-color: #F9F9F9;
  width: 65% !important;
}

#service h6{
  font-weight: 700;
}

#service p{
  font-size: 14px;
}


#register{
  background-image: url(../src/Assets/images/3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-control:focus{
  box-shadow: none !important;
  border-color: var(--redColor) !important;
}

#register p {
  font-size: 14px;
}
#register .hidden{
  font-size: 12px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

#login {
  background-image: url(../src/Assets/images/2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:left;
}

#login p{
  font-size: 12px;
}

#login .hidden{
  font-size: 12px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}


#readmore h2{
  position:relative;
  padding-block: 10px;
}

#readmore h2:before{
  content: '';
  width: 80px;
  height: 3px;
  background-color: var(--redColor);
  position: absolute;
  bottom: 0;
  left: 0;

}


 body{
  background-color: var(--redColor);
 }
#getmodel {
  background-image: url(../src/Assets/images/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:left;
  /* height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#getmodel h1{
  position: relative;
  padding-bottom: 5px;
}
#getmodel h1::before{
  content: '';
  width: 70px;
  height: 3px;
  background-color: var(--redColor);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

}

#getmodel label{
  font-weight: 600;
}


#error h1{
  font-size: 90px;
  font-weight: 900;
}
#error button:hover{
  background-color: var(--redColor) !important;
}

#error button:hover a{
  color:#fff !important;
}

.options-container {
  background-image: url('../src/Assets/images/1.png');
  background-size: cover;
}

