:root {
  --mainColor: #2d3250;
  --redColor: #a52e28;
}

nav {
  background-color: var(--mainColor);
}

nav a {
  color: #fff !important;
}

nav .navbar-brand .img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

nav .nav-item .active {
  background-color: var(--redColor);
  border-radius: 5px;
}

#about .container {
  padding: 0;
}

#about h1 {
  position: relative;
  padding-bottom: 5px;
}
#about h1::before {
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--redColor);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#footer {
  background-color: var(--redColor);
  color: #fff;
}

#footer p {
  font-size: 12px;
  line-height: 0;
  padding-bottom: 5px;
}

#service {
  background-image: url(../src/Assets/images/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#service .container {
  background-color: #f9f9f9;
  width: 65% !important;
}

#service h6 {
  font-weight: 700;
}

#service p {
  font-size: 14px;
}

#register {
  background-image: url(../src/Assets/images/3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: var(--redColor) !important;
}

#register p {
  font-size: 14px;
}
#register .hidden {
  font-size: 12px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

#login {
  background-image: url(../src/Assets/images/2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

#login p {
  font-size: 12px;
}

#login .hidden {
  font-size: 12px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

#readmore h2 {
  position: relative;
  padding-block: 10px;
}

#readmore h2:before {
  content: "";
  width: 80px;
  height: 3px;
  background-color: var(--redColor);
  position: absolute;
  bottom: 0;
  left: 0;
}

body {
  background-color: var(--redColor);
}
#getmodel {
  background-image: url(../src/Assets/images/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  /* height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#getmodel h1 {
  position: relative;
  padding-bottom: 5px;
}
#getmodel h1::before {
  content: "";
  width: 70px;
  height: 3px;
  background-color: var(--redColor);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#getmodel label {
  font-weight: 600;
}

#error h1 {
  font-size: 90px;
  font-weight: 900;
}
#error button:hover {
  background-color: var(--redColor) !important;
}

#error button:hover a {
  color: #fff !important;
}

.options-container {
  background-image: url("../src/Assets/images/1.png");
  background-size: cover;
}

/*#profile h2, p {
  color: #fff;
}

.btn-outline-secondary {
  border-color: #fff;
  color: #fff;
}*/
#profile {
  background-color: #f8f9fa;
  min-height: 100vh;
}

#profile .container {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

#profile .rounded-circle {
  border: 5px solid #dc3545;
}

#profile .btn-danger {
  background-color: #dc3545;
  border: none;
}

#profile .btn-outline-secondary {
  border-color: #dc3545;
  color: #dc3545;
}

#profile .btn-outline-secondary:hover {
  background-color: #dc3545;
  color: #ffffff;
}

#profile .post-content {
  background-color: #e9ecef;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

#profile .post-date {
  margin-bottom: 0.5rem;
  font-size: 0.83rem;
  color: #6c757d;
}

#options.custom-table {
  width: 50%;
  overflow-x: scroll;
  border-collapse: collapse;
  margin: 0;
  font-size: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#options.custom-table thead tr {
  background-color: black;
  color: white;
  text-align: left;
  font-weight: bold;
}

#options.custom-table th,
.custom-table td {
  padding: auto;
}

#options.custom-table tbody tr {
  border-bottom: 1px solid black;
}

#options.custom-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

#options.custom-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--mainColor);
}

#options.custom-table tbody tr.active-row {
  font-weight: bold;
  color: var(--redColor);
}
/*.sidebar {
  width: 200px; 
  flex-shrink: 0;
  background-color: red;
}*/
#output .output-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: white;
}

#output .custom-table {
  background-color: white;
  color: black;
}

.left-section {
  width: 30%;
  padding: 20px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  color: black;
  background-color: white;
}

.left-section h3 {
  margin-bottom: 50px;
  color: black;
  background-color: white;
}

.right-section {
  width: 70%;
  padding: 20px;
  overflow-y: auto;
  color: black;
  background-color: white;
}

#Output table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
th {
  background-color: black;
  color: white;
}

#userprofile {
  background-image: url(../src/Assets/images/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  /* height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
